/*
list of css classes:

*** Hearing ***
-hearing_title
-field_body_text
-field_case_number
-field_hearing_type
-field_start_date
-field_end_date
-field_opened
-field_responsible
    -responsible_username
    -responsible_role
    -responsible_email
-field_contact_hearing
    -contact_title
    -contact_country
    -contact_city
    -contact_email
    -contact_phone
    -contact_city
    -contact_email
    -contact_phone

*** Hearing answer ***
-answer_author
-answer_number
-answer_company
-answer_address
-answer_email
-answer_other_info
-answer_text
 */

body {
    padding-top: 100px;
    font-size: 18px;
    font-family: Arial;
}

@page {
    margin: 10%;
    margin-top: 5mm;
    background-image: url("../../../../themes/custom/frederiksberg_theme/assets/img/pdf-logo.png");
    background-position: 95% 2%;
    background-repeat: no-repeat;
    background-size: 250px 60px;
}

ul li {
    margin: 0;
    padding: 0;
}

.logo {
    width: 100%;
    height: 56px;
}

.hearing_title {
    font-size: 25px;
}

.hearing_manchet {
    font-size: 18px;
    font-weight: 400;
}

.field_hearing_info {
    font-size: 15px;
    margin-left: 10px;
}

.field_case_number,
.field_hearing_type,
.field_start_date,
.field_opened {
    margin-left: 10px;
}

.answer_text {
    padding: 5px;
    border: 1px solid #000;
}

img {
    max-width: 100%;
}

.logo-wrapper {
    margin-bottom: 20px;
}

.width-35, .width-65 {
    float: left;
    font-size: 15px;
}

.width-35 {
    width: 35%;
}

.width-65 {
    width: 65%;
}
